<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
      {% if msg %}
          alert("{{ msg }}")
      {% endif %}
            // Mari belajar sedikit tentang apa itu cookie browser

            // Untuk melacak user yang sudah log in,
            // developer biasanya menggunakan cookie browser untuk
            // menahan token user diantara beberapa request

            // anda bisa membayangkan cookie seperti dictionary
            // python (pasangan key value) tetapi cookie
            // diciptakan untuk browser

            // anda memiliki kontrol kapan dan bagaimana menghapus
            // cookie browser ketika browser anda ditutup
      function login() {
          $.ajax({
              type: "POST",
              url: "/api/login",
              data: {id_give: $('#userid').val(), pw_give: $('#userpw').val()},
              success: function (response) {
                  if (response['result'] === 'success') {
                      // If the login process is successful,
                      // we receive a JWT token from the
                      // server, and then save that token
                      // in our browser cookies
                      $.cookie('mytoken', response['token']);

                      alert('Login complete!')
                      window.location.href = '/'
                  } else {
                      // If the login process is unsuccessful,
                      // show the user an error message
                      alert(response['msg'])
                  }
              }
          })
      }
    </script>
  </head>
  <body>
    <div class="section has-text-centered">
      <h1 class="title">Login Page</h1>
      <div class="container" style="width: 60%">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userid">ID</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="text"
                  class="input"
                  id="userid"
                  aria-describedby="emailHelp"
                  placeholder="My ID"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userpw">PW</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  type="password"
                  class="input"
                  id="userpw"
                  placeholder="My Password"
                />
              </div>
            </div>
          </div>
        </div>
        <button class="button is-primary" onclick="login()">Login</button>
        <a class="button is-primary is-outlined" href="/register">Register</a>
      </div>
    </div>
  </body>
</html>